# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: 'npm' # See documentation for possible values
    directory: '/' # Location of package manifests
    schedule:
      interval: 'daily'

  - package-ecosystem: "npm"
    directory: "/fenrick.miro.client"
    schedule:
      interval: "daily"

  - package-ecosystem: "npm"
    directory: "/fenrick.miro.client"
    schedule:
      interval: "daily"
    target-branch: "develop"

  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "develop"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "develop"

  - package-ecosystem: "docker"
    directory: "/fenrick.miro.server"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/fenrick.miro.server"
    schedule:
      interval: "daily"
    target-branch: "develop"
