# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
*.pem
.idea

# local env files
.env
dist

#!.yarn/cache
.pnp.*
tsconfig.tsbuildinfo

# dotnet installer
dotnet-install.sh

# dotnet build artifacts
**/bin/
**/obj/
**/coverage
/.vs
