{
  "extends": "stylelint-config-standard",
  "rules": {
    "import-notation": null,
    "selector-pseudo-element-colon-notation": null,
    "rule-empty-line-before": null,
    "custom-property-pattern": null,
    "no-descending-specificity": null
  }
}
